/*fonts*/
@font-face{font-family:'AkzidenzGroteskBQCondensedBd';src:url('../type/akzidenzgrotesk-cond-webfont.eot');
  src:url('../type/akzidenzgrotesk-cond-webfont.eot?#iefix') format('embedded-opentype'),
  url('../type/akzidenzgrotesk-cond-webfont.woff') format('woff'),
    url('../type/akzidenzgrotesk-cond-webfont.ttf') format('truetype'),
    url('../type/akzidenzgrotesk-cond-webfont.svg#AkzidenzGroteskBQCondensedBd') format('svg');
    font-weight:normal;
    font-style:normal;
}