<div class="down"></div>
<div class="sectionCont">
  <div class="colList">
    <div class="col">
      <header><h2>Lunes</h2></header>
      <div class="colCont">
        <article ng-repeat="taller in talleres.lunes">
          <h3>{{taller.title}}</h3>
          <span>horario: <strong>{{taller.time}}</strong> | Prof.: <strong>{{taller.teacher}}</strong></span>
          <p>{{taller.description}}</p>
        </article>
      </div>
    </div>
    <div class="col">
      <header><h2>Martes</h2></header>
      <div class="colCont">
        <article ng-repeat="taller in talleres.martes">
          <h3>{{taller.title}}</h3>
          <span>horario: <strong>{{taller.time}}</strong> | Prof.: <strong>{{taller.teacher}}</strong></span>
          <p>{{taller.description}}</p>
        </article>
      </div>
    </div>
    <div class="col">
      <header><h2>Miercoles</h2></header>
      <div class="colCont">
        <article ng-repeat="taller in talleres.miercoles">
          <h3>{{taller.title}}</h3>
          <span>horario: <strong>{{taller.time}}</strong> | Prof.: <strong>{{taller.teacher}}</strong></span>
          <p>{{taller.description}}</p>
        </article>
      </div>
    </div>
  </div>
  <div class="colList">
    <div class="col">
      <header><h2>Jueves</h2></header>
      <div class="colCont">
        <article ng-repeat="taller in talleres.jueves">
          <h3>{{taller.title}}</h3>
          <span>horario: <strong>{{taller.time}}</strong> | Prof.: <strong>{{taller.teacher}}</strong></span>
          <p>{{taller.description}}</p>
        </article>
      </div>
    </div>
    <div class="col">
      <header><h2>Viernes</h2></header>
      <div class="colCont">
        <article ng-repeat="taller in talleres.viernes">
          <h3>{{taller.title}}</h3>
          <span>horario: <strong>{{taller.time}}</strong> | Prof.: <strong>{{taller.teacher}}</strong></span>
          <p>{{taller.description}}</p>
        </article>
      </div>
    </div>
    <div class="col">
      <header><h2>Sabado</h2></header>
      <div class="colCont">
        <article ng-repeat="taller in talleres.sabado">
          <h3>{{taller.title}}</h3>
          <span>horario: <strong>{{taller.time}}</strong> | Prof.: <strong>{{taller.teacher}}</strong></span>
          <p>{{taller.description}}</p>
        </article>
      </div>
    </div>
  </div>
</div>